aiohttp==3.7.3
aiosqlite==0.16.1
APScheduler==3.7.0
async-timeout==3.0.1
attrs==20.3.0
cffi==1.14.4
chardet==3.0.4
discord-ext-menus==1.0.0a27+g6f2b873
discord.py==1.6.0
idna==3.1
multidict==5.1.0
pycparser==2.20
PyNaCl==1.4.0
python-dotenv==0.19.2
pytz==2020.5
six==1.15.0
typing-extensions==3.7.4.3
tzlocal==2.1
yarl==1.6.3
